automacao-demandas-atrasadas.json
{
  "name": "{{FLOW_INTERNAL_ID}}",
  "id": "/providers/Microsoft.Flow/flows/{{FLOW_INTERNAL_ID}}",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Automação de Lembrete de Demandas Atrasadas",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowChargedByPaygo": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "flowclientsuspensionreasondetails": null,
        "creator": {
          "id": "{{CREATOR_ID}}",
          "type": "User",
          "tenantId": "{{TENANT_ID}}"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "{{LAST_MODIFIED_TIME}}",
        "connectionKeySavedTimeKey": "{{CONNECTION_KEY_SAVED_TIME}}",
        "creationSource": null,
        "modifiedSources": "Fonte/Sistema"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Hour",
            "interval": 3,
            "timeZone": "E. South America Standard Time",
            "startTime": "{{TIMESTAMP}}"
          },
          "evaluatedRecurrence": {
            "frequency": "Hour",
            "interval": 3,
            "timeZone": "E. South America Standard Time",
            "startTime": "{{TIMESTAMP}}"
          },
          "metadata": {
            "operationMetadataId": "{{UUID}}"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Aplicar_a_cada": {
          "foreach": "@body('HTTP')?['results']",
          "actions": {
            "Condição": {
              "actions": {
                "HTTP_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "{{UUID}}"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "PATCH",
                    "uri": "https://api.notion.com/v1/pages/@{items('Aplicar_a_cada')?['id']}",
                    "headers": {
                      "Authorization": "Bearer {{API_TOKEN}}",
                      "Notion-Version": "2022-06-28",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "properties": {
                        "Status": {
                          "status": {
                            "name": "Respondido"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Condição_2": {
                    "actions": {
                      "HTTP_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "{{UUID}}"
                        },
                        "type": "Http",
                        "inputs": {
                          "method": "PATCH",
                          "uri": "https://api.notion.com/v1/pages/@{items('Aplicar_a_cada')?['id']}",
                          "headers": {
                            "Authorization": "Bearer {{API_TOKEN}}",
                            "Notion-Version": "2022-06-28",
                            "Content-Type": "application/json"
                          },
                          "body": {
                            "properties": {
                              "Status": {
                                "status": {
                                  "name": "Atrasado"
                                }
                              }
                            }
                          }
                        }
                      },
                      "Aplicar_a_cada_2": {
                        "foreach": "@items('Aplicar_a_cada')?['properties']?['Responsável']?['people']",
                        "actions": {
                          "Enviar_um_email_(V2)_2": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "{{UUID}}"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                                "connectionName": "shared_office365",
                                "operationId": "SendEmailV2"
                              },
                              "parameters": {
                                "emailMessage/To": "@item()?['person']?['email']",
                                "emailMessage/Subject": "Lembrete de demanda atrasada - @{items('Aplicar_a_cada')?['properties']?['Unidade/Área']?['rich_text']?[0]?['plain_text']} - @{items('Aplicar_a_cada')?['properties']?['Identificador da demanda']?['rich_text']?[0]?['plain_text']}",
                                "emailMessage/Body": "<p>Olá,<br>\n<br>\nExiste uma demanda atrasada no controle interno.<br>\n<br>\nUnidade/Área: @{coalesce(items('Aplicar_a_cada')?['properties']?['Unidade/Área']?['rich_text']?[0]?['plain_text'], 'Não informado')}<br>\nIdentificador da demanda: @{coalesce(items('Aplicar_a_cada')?['properties']?['Identificador da demanda']?['rich_text']?[0]?['plain_text'], 'Não informado')}<br>\nFonte/Sistema: @{coalesce(items('Aplicar_a_cada')?['properties']?['Fonte/Sistema']?['url'], 'Não informado')}<br>\nTipo: @{coalesce(items('Aplicar_a_cada')?['properties']?['Tipo']?['status']?['name'], 'Não informado')}<br>\nData de envio: @{coalesce(items('Aplicar_a_cada')?['properties']?['Data de envio']?['date']?['start'], 'Não informado')}<br>\nPrazo de resposta: @{coalesce(items('Aplicar_a_cada')?['properties']?['Prazo de resposta']?['date']?['start'], 'Não informado')}<br>\n<br>\nFavor verificar se houve resposta e atualizar o status da demanda.</p>",
                                "emailMessage/Importance": "Normal"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "HTTP_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "{{UUID}}"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "HTTP_4": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "{{UUID}}"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "PATCH",
                            "uri": "https://api.notion.com/v1/pages/@{items('Aplicar_a_cada')?['id']}",
                            "headers": {
                              "Authorization": "Bearer {{API_TOKEN}}",
                              "Notion-Version": "2022-06-28",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "properties": {
                                "Status": {
                                  "status": {
                                    "name": "Em andamento"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@and(\r\n  not(empty(items('Aplicar_a_cada')?['properties']?['Prazo de resposta']?['date']?['start'])),\r\n  less(\r\n    ticks(concat(formatDateTime(items('Aplicar_a_cada')?['properties']?['Prazo de resposta']?['date']?['start'], 'yyyy-MM-dd'), 'T00:00:00Z')),\r\n    ticks(concat(formatDateTime(convertTimeZone(utcNow(), 'UTC', 'E. South America Standard Time'), 'yyyy-MM-dd'), 'T00:00:00Z'))\r\n  )\r\n)",
                        true
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "{{UUID}}"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@equals(items('Aplicar_a_cada')?['properties']?['Respondido?']?['checkbox'], true)",
                  true
                ]
              },
              "metadata": {
                "operationMetadataId": "{{UUID}}"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Filtrar_matriz": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "{{UUID}}"
          },
          "type": "Foreach"
        },
        "HTTP": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "{{UUID}}"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://api.notion.com/v1/databases/{{DATABASE_ID}}/query",
            "headers": {
              "Authorization": "Bearer {{API_TOKEN}}",
              "Notion-Version": "2022-06-28",
              "Content-Type": "application/json"
            },
            "body": {}
          }
        },
        "Filtrar_matriz": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "{{UUID}}"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('HTTP')?['results']",
            "where": "@and(\n  equals(item()?['properties']?['Respondido?']?['checkbox'], false),\n  not(empty(item()?['properties']?['Prazo de resposta']?['date']?['start'])),\n  less(\n    ticks(concat(formatDateTime(item()?['properties']?['Prazo de resposta']?['date']?['start'], 'yyyy-MM-dd'), 'T00:00:00Z')),\n    ticks(concat(formatDateTime(convertTimeZone(utcNow(), 'UTC', 'E. South America Standard Time'), 'yyyy-MM-dd'), 'T00:00:00Z'))\n  )\n)"
          }
        }
      }
    },
    "connectionReferences": {
      "shared_office365": {
        "connectionName": "shared-office365-{{UUID}}",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified",
        "apiName": "office365",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}