automacao-demandas-atrasadas.json
{
  "name": "{{FLOW_INTERNAL_ID}}",
  "id": "/providers/Microsoft.Flow/flows/{{FLOW_INTERNAL_ID}}",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "Automação de Lembrete de Demandas Atrasadas",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowChargedByPaygo": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "flowclientsuspensionreasondetails": null,
        "creator": {
          "id": "{{CREATOR_ID}}",
          "type": "User",
          "tenantId": "{{TENANT_ID}}"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "{{LAST_MODIFIED_TIME}}",
        "connectionKeySavedTimeKey": "{{CONNECTION_KEY_SAVED_TIME}}",
        "creationSource": null,
        "modifiedSources": "Portal"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Hour",
            "interval": 5,
            "timeZone": "E. South America Standard Time",
            "startTime": "{{START_TIME}}"
          },
          "evaluatedRecurrence": {
            "frequency": "Hour",
            "interval": 5,
            "timeZone": "E. South America Standard Time",
            "startTime": "{{START_TIME}}"
          },
          "metadata": {
            "operationMetadataId": "{{TRIGGER_OPERATION_METADATA_ID}}"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Aplicar_a_cada": {
          "foreach": "@body('HTTP')?['results']",
          "actions": {
            "Enviar_um_e-mail_(V2)_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "{{EMAIL_OPERATION_METADATA_ID}}"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "{{EMAIL_DESTINATARIOS}}",
                  "emailMessage/Subject": "Lembrete de demanda atrasada - @{items('Aplicar_a_cada')?['properties']?['Órgão']?['rich_text']?[0]?['plain_text']} - @{items('Aplicar_a_cada')?['properties']?['Pregão eletrônico']?['rich_text']?[0]?['plain_text']}",
                  "emailMessage/Body": "<p>Olá,<br>\n<br>\nExiste uma demanda atrasada no controle interno.<br>\n<br>\nUnidade/Área: @{coalesce(items('Aplicar_a_cada')?['properties']?['Órgão']?['rich_text']?[0]?['plain_text'], 'Não informado')}<br>\nIdentificador da demanda: @{coalesce(items('Aplicar_a_cada')?['properties']?['Pregão eletrônico']?['rich_text']?[0]?['plain_text'], 'Não informado')}<br>\nFonte/Sistema: @{coalesce(items('Aplicar_a_cada')?['properties']?['Portal']?['url'], 'Não informado')}<br>\nTipo: @{coalesce(items('Aplicar_a_cada')?['properties']?['Tipo']?['status']?['name'], 'Não informado')}<br>\nData de envio: @{coalesce(items('Aplicar_a_cada')?['properties']?['Data de envio do esclarecimento']?['date']?['start'], 'Não informado')}<br>\nPrazo de resposta: @{coalesce(items('Aplicar_a_cada')?['properties']?['Prazo de resposta']?['date']?['start'], 'Não informado')}<br>\n<br>\nFavor verificar se houve resposta e atualizar o status da demanda.</p>",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Filtrar_matriz": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "{{FOREACH_OPERATION_METADATA_ID}}"
          },
          "type": "Foreach"
        },
        "HTTP": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "{{HTTP_OPERATION_METADATA_ID}}"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://api.notion.com/v1/databases/{{DATABASE_ID}}/query",
            "headers": {
              "Authorization": "Bearer {{API_TOKEN}}",
              "Notion-Version": "2022-06-28",
              "Content-Type": "application/json"
            },
            "body": {}
          }
        },
        "Filtrar_matriz": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "{{FILTER_OPERATION_METADATA_ID}}"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('HTTP')?['results']",
            "where": "@and(\n  equals(item()?['properties']?['Respondido?']?['checkbox'], false),\n  less(\n    formatDateTime(item()?['properties']?['Prazo de resposta']?['date']?['start'], 'yyyy-MM-dd'),\n    formatDateTime(utcNow(), 'yyyy-MM-dd')\n  )\n)"
          }
        }
      }
    },
    "connectionReferences": {
      "shared_office365": {
        "connectionName": "{{OUTLOOK_CONNECTION_NAME}}",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified",
        "apiName": "office365",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}
